<h1>Pi Notifications</h1>

<div *ngIf="notifications">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Alarm</th>
                <th>Start Time</th>
                <th>Value</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of notifications">
                <td *ngIf="event.active" class="danger text-danger text-center">Alarm</td>
                <td *ngIf="!event.active"></td>
                <td>{{event.active ? event.formatStartTime : ''}}</td>
                <td>{{event.active ? event.value : ''}}</td>
                <td>{{event.name}}</td>
            </tr>
        </tbody>
    </table>
</div>